.filtered-items {
  display: flex;
  align-items: center;
  gap: 8px;

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 11px;
    border: 1px solid $grey-20;
    border-radius: 999px;
  }

  &__label {
    color: $brand-secondary;
    @include fontSize(13, 16);
    font-weight: 400;
    &.primary {
      color: $brand-primary;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
    cursor: pointer;

    &:hover {
      fill: $brand-primary;
    }
    
  }
}