.cart-sale {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: $grey-10;
  border-radius: 12px;

  &__top {
    padding-bottom: 24px;
    border-bottom: 1px solid $grey-20;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__circle {
    border-radius: 100%;
    border: 1px solid $brand-primary;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.primary {
      color: $brand-primary;
    }
  }
}
