.order-page {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 48px;

  @media (max-width: $m) {
    grid-template-columns: 8fr 4fr;
  }
  @media (max-width: $s) {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid $grey-20;
  }

  &__mobile {
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: $white;
    border-radius: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(24, 32);
    font-weight: 500;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.grey {
      color: $grey-50;
      @include fontSize(13, 16);
    }

    &.padding {
      padding-bottom: 12px;
    }

    &.primary {
      color: $brand-primary;
      @include fontSize(13, 16);
    }
  }

  &__block {
    position: relative;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: $grey-10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $grey-15;
    }
    &:active {
      background-color: $grey-20;
    }
    @media (max-width: $xs) {
      display: none;
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
  }

  &__counter {
    display: block;
    @media (max-width: $xs) {
      display: none;
    }
  }
  &__counter-mobile {
    display: none;
    max-width: 128px;
    @media (max-width: $xs) {
      display: block;
    }
  }

  &__delete {
    display: none;
    margin-top: 16px;
    @media (max-width: $xs) {
      display: block;
    }
  }

  &__map {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
