/* Выпадающтй список */

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 8px 0;
  width: 100%;
  overflow-y: auto;
  border: unset;
  text-align: left;
  list-style: none;
  background: $white;
  box-shadow: 0px 2px 8px rgba(36, 16, 15, 0.12),
    0px 0px 1px rgba(36, 16, 15, 0.24);
  border-radius: 8px;
  z-index: 10;
  // max-height: 216px;
  min-width: unset;

  &::-webkit-scrollbar {
    width: 12px;
    z-index: 10;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: $grey-20;
  }
}

.vs__no-options {
  text-align: center;
}
