/* Search Input */

/**
 * Super weird bug... If this declaration is grouped
 * below, the cancel button will still appear in chrome.
 * If it's up here on it's own, it'll hide it.
 */
.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {  
  appearance: none;  
  border: none;
  border-left: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  // width: 0;
  max-width: 100%;
  flex-grow: 1;
  z-index: 1;

  @include fontSize(14, 20);
  color: $grey-100;
  font-weight: 400;
}

.vs__search::placeholder {
  color: $grey-50;
  z-index: 1;
}

/**
    States
 */

// Unsearchable
.vs--unsearchable {
  .vs__search {
    opacity: 1;
    display: none;
  }
  &:not(.vs--disabled) .vs__search:hover {
    cursor: pointer;
  }
}
// Single, when searching but not loading or open
.vs--single.vs--searching:not(.vs--open):not(.vs--loading) {
    .vs__search {
      opacity: .2;
    }
}
