.product-page {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 24px;

  // @media (max-width: $m) {
  //   display: flex;
  // }

  @media (max-width: $s) {
    display: flex;
    flex-direction: column;
    gap: unset;
    padding-top: 0;
  }

  &__data {
    display: flex;
    flex-direction: column;
  }

  &__badges {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;

    @media (max-width: $s) {
      padding-top: 16px;
    }
  }

  &__name {
    color: $brand-secondary;
    @include fontSize(20, 24);
    font-weight: 400;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
  }

  &__price {
    color: $brand-secondary;
    @include fontSize(24, 28);
    font-weight: 500;

    &.new {
      color: $status-red;
    }

    &.old {
      @include fontSize(16, 24);
      color: $grey-50;
      text-decoration: line-through;
      font-weight: 400;
    }
  }

  &__colors {
    padding-top: 32px;
  }

  &__subtitle {
    @include fontSize(14, 20);
    color: $brand-secondary;
    font-weight: 500;
    padding-bottom: 8px;
  }

  &__size-table {
    @include fontSize(14, 20);
    color: $brand-primary;
    font-weight: 400;
    padding-top: 12px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $brand-secondary;
    }
  }

  &__cart-section {
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__button-add {
    width: 167px;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__calculator {
    padding-top: 32px;
  }

  &__wholesale {
    padding: 16px 24px;
    background-color: $grey-10;
    border-radius: 12px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__text {
    @include fontSize(14, 20);
    color: $brand-secondary;
    font-weight: 400;

    &.grey {
      @include fontSize(13, 20);
      color: $grey-50;
      margin-top: 12px;
    }
  }

  &__info {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
  }

  &__accordion-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
  }

  &__list {
    list-style: decimal;
  }

  &__list-item {
    position: relative;

    &:before {
      content: '—';
      position: relative;
      left: -5px;
    }
  }

  &__table {
    padding-top: 8px;
  }

  &__section {
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 8px;

    & + & {
      margin-top: 8px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;
  }

  &__link {
    display: inline-block;
    color: $brand-primary;
    @include fontSize(13, 16);
    font-weight: 400;
    margin-top: 12px;

    &:hover {
      color: $brand-secondary;
    }
  }

  &__mobile-cart {
    box-shadow: inset 0px 1px 0px #ECE8E5;
    background-color: $white;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px 16px;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

    @media (max-width: $s) {
      display: flex;
    }
  }
}
