.input {
  $this: &;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;    
  &.background {
    #{$this}__input {
      background-color: $grey-10;
    }
  }

  &__input {
    width: 100%;
    border-radius: 8px;
    padding: 9px 11px;
    border: 1px solid $white;
    background-color: $white;
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    outline: none;
    transition: border 0.3s ease;

    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 

    &::placeholder {
      color: $grey-50;
    }

    &:hover {
      border: 1px solid $grey-20;
    }

    &.focused {
      border: 1px solid $brand-primary;
    }

    &.textarea {
      height: 100%;
      min-height: 120px;
    }

    &.error {
      border: 1px solid $status-red;
    }

    &:disabled {
      opacity: 0.64;
    }
  }

  &__text {
    padding-top: 8px;
    color: $grey-50;
    @include fontSize(13, 20);
    font-weight: 400;

    &.error {
      color: $status-red;
    }
  }  

  &__button-pass-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    & > svg {
      stroke: $brand-secondary;
      width: 20px;
      height: 20px;
      stroke-width: 1.5;
       stroke-linecap: round;
    }
  }
    
  &__button-pass {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    & > svg {
      fill: $brand-secondary;
      width: 20px;
      height: 20px;
    }

    

    // &.error {
    //   right: 40px;
    //   & > svg {
    //     fill: $error;
    //   }
    // }
  }
}