.checkbox {
  $this: &; 
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;   

  &+&{
    padding-top: 12px;
  } 
  

  &__box {    
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $grey-20;
    position: relative;
    background-color: $grey-10;
    transition: background-color 0.3s ease;

    &::before {
      position: absolute;
      top: 4px;
      left: 4px; 
      content: '';
      width: 10px;
      height: 10px;      
      border-radius: 2px;
      background-color: $brand-primary;
      opacity: 0;
    }       
  } 

  &__tag {
    position: absolute;  

    &:checked {
      + .checkbox__box {
        &::before {
          opacity: 1;          
        }
      }
    }

    &:disabled {
      + .checkbox__box {
        opacity: 0.2;
      }
    }
  }

  span {
    margin-left: 8px;
    @include fontSize(14, 20);
    color: $brand-primary;
    font-weight: 400;
  }
}
