.category-filter {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 352px;
    overflow-y: auto;
    // padding-top: 8px;
    // margin-bottom: 24px;
    &::-webkit-scrollbar {
      width: 12px;
      z-index: 10;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: padding-box;
      background-color: $grey-20;
    }
  }

  &__item {
    padding: 6px 12px;
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $grey-10;
    }

    &:active {
      background-color: $grey-20;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 14px 0;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }
}
