.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 64px;

  @media (max-width: $xs) {
    padding-top: 48px;
  }

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
    padding-top: 96px;
  }

  &__success-button {
    width: 227px;
    margin-top: 40px;
  }

  &__main {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & + & {
      margin-top: 24px;
    }
  }

  &__checkbox {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid $grey-20;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.primary {
      color: $brand-primary !important;
      font-weight: 500;
    }

    &.grey {
      @include fontSize(13, 20);
      color: $grey-50;
      text-align: center;
      font-weight: 400 !important;
    }
  }

  &__bottom {
    margin-top: 24px;
  }
}
