.categories-main {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, minmax(0, 1fr));

  @media (max-width: $s) {
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    
  }
  &__cover {
    display: flex;
    border: 1px solid $grey-20;
    padding: 8px;
    border-radius: 100%;
    @media (max-width: $s) {
      width: 164px;
      height: 164px;
    }
    @media (max-width: $xs) {
      width: 128px;
      height: 128px;
    }
  }

  &__image {
    border-radius: 100%;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
