.counter {
  $this: &;
  display: flex;
  z-index: 3;

  // &.big {
  //   #{$this}__button {
  //     width: 56px;
  //     height: 56px;
  //   }
  //   #{$this}__input {
  //     width: 64px;
  //     height: 56px;
  //   }
  // }
  // &.medium {
  //   #{$this}__button {
  //     width: 48px;
  //     height: 48px;
  //   }
  //   #{$this}__input {
  //     width: 48px;
  //     height: 48px;
  //   }
  // }
  &.small {
    #{$this}__button {
      width: 32px;
      height: 32px;
    }
    #{$this}__input {
      height: 32px;
      width: 32px;
      @include fontSize(16, 24);
    }
    #{$this}__icon {
      width: 16px;
      height: 16px;
    }
  }
  &.medium {
    #{$this}__button {
      width: 40px;
      height: 40px;
    }
    #{$this}__input {
      height: 40px;
      @include fontSize(16, 24);
    }
    #{$this}__icon {
      width: 20px;
      height: 20px;
    }
  }

  &__button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-10;
    border-radius: 12px 0 0 12px;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    &.plus {
      border-radius: 0 12px 12px 0;
    }

    &:hover {
      #{$this}__icon {
        fill: $brand-primary;
      }
    }
  }

  &__input {
    background-color: $grey-10;
    text-align: center;
    width: 100%;
    height: 48px;
    color: $brand-secondary;
    @include fontSize(18, 24);
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;
  }
}
