.product-card {
  $this: &;
  display: flex;
  flex-direction: column;

  &.in-grid {
    #{$this}__images {
      @media (max-width: $s) {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__images {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    // width: 312px;
    // height: 312px;

    @media (max-width: $s) {
      aspect-ratio: unset;
      width: 344px;
      height: 344px;
    }
  }

  &__image {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.active {
      opacity: 1;
    }
  }

  &__progress {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: calc(100% - 32px);
    display: grid;
    gap: 8px;
    // grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &__indicator {
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 999px;
    transition: background-color 0.3s ease;

    &.active {
      background-color: rgba(0, 0, 0, 0.48);
    }
  }

  &__sections {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: grid;
  }

  &__section {
    height: 100%;
    display: block;
  }

  &__badges {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
  }

  &__favorires {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 5;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  &__price {
    color: $brand-secondary;
    @include fontSize(16, 24);
    font-weight: 500;

    &.new {
      color: $status-red;
    }

    &.old {
      color: $grey-50;
      text-decoration: line-through;
      font-weight: 400;
    }
  }

  &__name {
    color: $brand-primary;
    @include fontSize(14, 20);
    font-weight: 400;
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 16px;
  }

  &__color {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 100%;
    }
  }

  &__last-number {
    color: $brand-secondary;
    @include fontSize(10, 12);
    font-weight: 500;
  }
}
