.sale-calculator {
  background-color: $grey-10;
  border-radius: 12px;
  padding: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__top {
    padding-bottom: 24px;
    border-bottom: 1px solid $grey-20;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__circle {
    border-radius: 100%;
    border: 1px solid $brand-primary;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__sale-text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.primary {
      color: $brand-primary;
    }
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(12, 16);
    font-weight: 400;
  }
  &__link {
    color: $brand-primary;
    @include fontSize(13, 16);
    font-weight: 400;

    &:hover {
      color: $brand-secondary;
    }
  }

  &__indicator {
    width: 100%;
    height: 10px;
    border: 1px solid $grey-20;
    background-color: $white;
    border-radius: 999px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
  }

  &__progress {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 8px;
    background-color: $brand-primary;
    border-radius: 999px;
  }
}
