@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-feature-settings: 'salt' on;
}

body {
  @include text-md;

  background-color: $white;
  color: $brand-secondary;
  font-family: 'Muller', sans-serif;
  // font-weight: $font-weight-base;
  width: 100%;
}

#app {
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: calc(100vh - 132px);

  &.loading {
    min-height: 200vh;
    opacity: 0;
  }
}

a {
  @include link-base;

  transition: all $transition-duration-base;
}

a,
button {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
  transition: color $transition-duration-base, background-color $transition-duration-base, border $transition-duration-base;

  &:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;

  &::-ms-expand { // IE11
    display: none;
  }
}

textarea {
  resize: none;
}

hr {
  border: none;
}

iframe {
  border: none;
}

img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

small {
  @include text-sm;
}

svg {
  vertical-align: top;
  transition: all $transition-duration-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-overflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.veil {
  transition: all $transition-duration-base;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  // background: rgba($color-grey-900, .25);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}


table {
  background-color: $white;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  width: 100%;
  table-layout: fixed;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  z-index: 1;
}

tbody {
  position: relative;
  z-index: 10;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: $white;

  &::-webkit-scrollbar {
    width: 0;
    z-index: 10;
  }
}

th,
td {
  
  @include fontSize(12, 16);
  font-weight: 400;
  color: $brand-secondary;
  padding: 8px 8px 7px;
  text-align: center;
  border-bottom: 1px solid $grey-20;
}

td {
  width: 100%;
}

th {
  padding: 16px 8px;
  background-color: $grey-10;
  font-weight: 500;
}


