.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: $l) {
    padding-left: 48px;
    padding-right: 48px;
  }
  @media (max-width: $m) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: $s) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: $xs) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page {
  // $this: &;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // max-width: 1440px;
  // padding-left: 24px;
  // padding-right: 24px;
  // min-width: $minwidth;
  min-height: 100vh;
  margin: auto;
  position: relative;
  // z-index: $layer-1;
  // background-color: $white;

  &__header {
    z-index: 90;
    flex-shrink: 0;
  }

  // &__content {
  //   position: relative;
  //   z-index: 2;
  // }

  &__body {
    // opacity: 0;
    transition: opacity 0.3s ease;
    // &.active {
    //   opacity: 1;
    // }
  }

  &__content,
  &__body,
  &__footer {
    flex-grow: 1;
    &.secondary {
      background-color: $grey-10;
    }
    
  }

  &__show-more {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    @media (max-width: $m) {
      margin-top: 48px;
    }
    @media (max-width: $s) {
      margin-top: 32px;
    }
  }

  &__content {
    
    @media (max-width: $xs) {
      padding-top: 56px;

      &.main-page {
        padding-top: 0;
      }
    }
  }

  &__bredcrumb-back {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 24px 0;
    flex-wrap: wrap;
    @media (max-width: $s) {
      padding: 16px 0;
    }
  }

  &__bredcrumb-icon {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
  }

  &__bredcrumb-text {
    color: $brand-secondary;
    @include fontSize(13, 16);
    font-weight: 400;
  }
}
