.mobile-select {  
  $this: &;
  &__area {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: -1;
  }
  &__content {
    background-color: $white;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    position: absolute;
    box-shadow: 0px 4px 16px 4px rgba(36, 16, 15, 0.08);
    border-radius: 12px 12px 0px 0px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px #ece8e5;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__close {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid $grey-20;
    &:hover {
      #{$this}__close {
        fill: $brand-primary;
      }
    }
    &:active {
      #{$this}__close {
        fill: #ae5435;
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
  }

  &__body {
    padding: 24px 24px 40px;
  }

  &__item {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      box-shadow: inset 0px 1px 0px #ece8e5;
    }
  }
}
