.map-selector {
  display: flex;
  position: relative;
  &__sidebar {
    width: 320px;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset -1px 0px 0px #ece8e5;
    flex-shrink: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-shadow: inset 0px -1px 0px #ece8e5;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__selector {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow: inset 0px -1px 0px #ece8e5;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow: inset 0px 1px 0px #ece8e5;
  }

  &__icon {
    width: 20px;
    height: 20px;
    stroke: $brand-secondary;
    stroke-width: 1.5;
    stroke-linecap: square;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 220px);

    &::-webkit-scrollbar {
      width: 12px;
      z-index: 10;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: padding-box;
      background-color: $grey-20;
    }
  }

  &__item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    box-shadow: inset 0px -1px 0px #ECE8E5;
  }

  &__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-box {
    display: flex;
    gap: 8px;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.bold {
      font-weight: 500;
    }
    &.grey {
      color: $grey-50;
    }
  }

  &__map {
    width: 100%;
    height: 100vh;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: $grey-10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 101;
    &:hover {
      background-color: $grey-15;
    }
    &:active {
      background-color: $grey-20;
    }
    @media (max-width: $xs) {
      display: none;
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
  }
}
