.slider-main {
  $this: &;
  position: relative;
  padding-top: 32px;

  @media (max-width: $s) {
    padding-top: 24px;
  }

  &__text-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  &__title {
    color: $white;
    @include fontSize(48, 52);
    font-weight: 700;
    margin-bottom: 16px;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__text {
    color: $white;
    @include fontSize(18, 24);
    font-weight: 500;
  }

  &__container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    &:hover {
      #{$this}__controls {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    height: 480px;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    left: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    top: calc(50% - 20px);

    @media (max-width: $s) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: $white;
    // box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;
    transition: box-shadow 0.5s ease, ;

    &:hover {
      #{$this}__icon {
        fill: $brand-primary;
      }
    }

    &:active {
      box-shadow: 0px 2px 8px rgba(36, 16, 15, 0.12),
        0px 0px 1px rgba(36, 16, 15, 0.24);
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;

    &.prev {
      transform: rotateY(180deg);
    }
  }
  

  &__pagination {
    width: 100% !important;
    height: 12px;
    position: absolute;
    bottom: -24px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    // flex-flow: row nowrap;
    z-index: 3;

    @media (max-width: $xs) {
      // bottom: -16px;
    }
  }
  

  & .swiper-pagination-bullet {
    position: relative;
    width: 6px;
    height: 6px;
    background-color: $grey-20;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
  }

  & .swiper-pagination-bullet-active {
    background-color: $brand-primary;
  }

  & .swiper-pagination-bullet-active-main {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
}