.header-order {
  $this: &;
  position: relative;
  z-index: 1;
  &__descktop {
    display: flex;
    flex-direction: column;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__background {
    background-color: $white;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: $white;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__sublink {    
    @include fontSize(14, 16);
    font-weight: 400;

    @media (max-width: $s) {
      @include fontSize(16, 24);
    }

    &.grey {
      color: $grey-50;
    }
  }

  

  &__sublink-badge {
    padding: 4px 8px;
    background-color: $brand-primary-12;
    color: $brand-primary;
    @include fontSize(14, 16);
    font-weight: 400;
    border-radius: 999px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $brand-primary-24;
    }

    &:active {
      color: $brand-secondary;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 124px;
    height: 32px;
    margin-right: 8px;

    @media (max-width: $s) {
      width: 93px;
      height: 24px;
    }
  }

  &__nav {
    display: flex;
    position: relative;
  }

  &__nav-list {
    display: flex;
  }

  &__line {
    position: relative;
    &::after {
      width: 100%;
      height: 1px;
      background-color: $grey-20;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__actions {
    display: flex;
    gap: 4px;
  }

  &__action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;

    &:hover {
      #{$this}__action-icon {
        fill: $brand-primary;
      }
    }
    &:active {
      #{$this}__action-icon {
        fill: #ae5435;
      }
    }
  }

  &__action-quantity {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: $brand-primary;
    border-radius: 100%;
    color: $white;
    @include fontSize(10, 12);
    font-weight: 500;
    border: 2px solid $white;
  }

  &__action-icon {
    width: 24px;
    height: 24px;
    fill: $brand-secondary;
  }

  &__mobile {
    position: fixed;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px $grey-20;
    background-color: $white;

    @media (max-width: $s) {
      display: flex;
    }
  }

  &__block {
    display: flex;
  }

  &__mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity, visibility, transform;
    transition-timing-function: ease;
    transition-duration: 0.3s;

    visibility: visible;

    transform: translateY(-32px);
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      z-index: 10;
    }
  }
}
