.mobile-filter {
  $this: &;
  background-color: $white;
  width: 100%;
  height: 100vh;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    // padding-left: 24px;
    box-shadow: inset 0px -1px 0px $grey-20;

    @media (max-width: $xs) {
      padding: 8px;
      padding-left: 16px;
    }
  }

  &__body {
    padding: 16px 24px;    
    overflow-y: scroll;
    height: calc(100vh - 72px);
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__headline {
    color: $brand-secondary;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 20px;
    height: 20px;
    fill: $brand-secondary;
    transition: fill 0.3s ease;
    }
    
  }

  &__list {
    opacity: 0;
    position: absolute;
    transition: opacity, visibility, transform;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transform: translateX(-40px);
    z-index: -1;
    pointer-events: none;
    &.active {
      opacity: 1;
      transform: translateX(0);
      position: relative;
      z-index: 3;
      pointer-events: all;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;
    transition: fill 0.3s ease;
  }

  &__category {
    cursor: pointer;
    padding: 14px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;

    & + & {
      box-shadow: inset 0px 1px 0px $grey-20;
    }

    &:hover {
      #{$this}__link {
        color: $brand-primary;
      }
      #{$this}__icon {
        fill: $brand-primary;
      }
    }
  }

  &__link {
    @include fontSize(14, 20);
    font-weight: 500;

    &.red {
      color: $status-red !important;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 32px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-direction: column;
      gap: 16px;
    }
  }  

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;

    &+& {
      box-shadow: inset 0px 1px 0px #ECE8E5;
    }    
  }

  &__color {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__hex {
    width: 20px;
    height: 20px;
    border-radius: 100%;

    &.white {
      border: 1px solid $grey-20;
    }
  }

  &__texture {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
}