.footer {
  $this: &;
  background-color: $grey-10;
  margin-top: 128px;

  @media (max-width: $s) {
    margin-top: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    @media (max-width: $s) {
      padding-top: 32px;
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: $s) {
      flex-direction: column;
    }
  }

  &__email-section {
    display: flex;
    flex-direction: column;
    max-width: 312px;

    @media (max-width: $s) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__send-section {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 0 12px;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(18, 24);
    font-weight: 500;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    &.padding {
      padding-top: 8px;
    }

    &.grey {
      color: $grey-50;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  &__small-text {
    color: $grey-50;
    @include fontSize(12, 16);
    font-weight: 400;

    &.link {
      color: $brand-primary;
    }
  }

  &__links-section {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
  }

  &__contacts {
    margin-top: 104px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $grey-20;
    border-bottom: 1px solid $grey-20;

    @media (max-width: $s) {
      margin-top: 32px;
    }
    @media (max-width: $xs) {
      flex-direction: column;
      gap: 16px;
      padding: 24px 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    @media (max-width: $xs) {
      flex-direction: column;
      justify-content: center; 
      gap: 24px;    
      padding: 24px 0; 
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &.alt {
      @media (max-width: $s) {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
      }
      @media (max-width: $xs) {
        align-items: center;
      }
    }

    @media (max-width: $xs) {
      // align-items: flex-start;
        flex-direction: column;
        gap: 12px;
    }

    
  }

  &__separator {
    width: 1px;
    height: 16px;
    margin: 0 8px;
    background-color: $grey-30;

    &.alt {
      @media (max-width: $s) {
        display: none;
      }
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__two-letters {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      & > svg {
        fill: $brand-primary;
      }
      #{$this}__text {
        color: $brand-primary;
      }
    }
    & > svg {
      width: 32px;
      height: 32px;
      fill: $brand-secondary;
    }
  }

  &__links-mobile {
    padding-top: 32px;
    display: none;
    width: 100%;
    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
    }
  }

  &__accordion-list {
    display: flex;
    flex-direction: column;
  }

  &__subitem {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    padding: 14px 16px;
    box-shadow: inset 0px 1px 0px $grey-20;
  }
}
