.radio-tabs {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: auto;
  width: max-content;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 11px 15px;
    border-radius: 999px;
    background-color: $white;
    border: 1px solid $grey-20;
    cursor: pointer;
    color: $brand-secondary;
    @include fontSize(14, 16);
    font-weight: 400;
    transition: all 0.3s ease;

    &.selected {
      background-color: $grey-10;
      border: 1px solid $brand-primary;
      color: $brand-primary;
    }
  }
}