.total {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: $grey-10;
  border-radius: 12px;

  &.background {
    background-color: $white
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-20;
    gap: 12px;

    & + & {
      padding-top: 20px;
    }

    &:nth-last-child(2) {
      padding: 24px 0;
      border-bottom: unset;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;

    &.red {
      color: $status-red;
    }

    &.bold {
      font-weight: 500;
      @include fontSize(18, 24);
    }
  }
}
