<template lang="pug">
  .contact
    a.contact__sublink(href='tel: +7 800 500–61–13') +7 800 500–61–13
    .contact__separator
    .contact__sublink.grey 9:00–20:00
</template>

<style lang="scss" src='./contact.scss'>
</style>