.accordion {
  $this: &;
  border-top: 1px solid $grey-20;
  border-bottom: 1px solid $grey-20;
  width: 100%;
  
  &.padding {
    #{$this}__content {
      margin-top: 8px;
    margin-bottom: 24px;
    }
  }

  & + & {
    border-top: unset;
  }
  &__head {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 500;

    // &.subtitle {
    //   margin-left: 8px;
    //   color: $color-text-secondary;
    // }
  }

  &__icon-shevron {
    width: 20px;
    height: 20px;
    fill: $brand-secondary;
    display: none;

    &.active {
      display: block;
    }
  }

  &__body {
        
  }

  
}
