.modal {
  $this: &;
  display: flex;
  flex-direction: column;
  background-color: $white;

  &__top {
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    box-shadow: inset 0px -1px 0px #ece8e5;

    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__title {
    color: $brand-secondary;
    @include fontSize(18, 24);
    font-weight: 500;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid $grey-20;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      #{$this}__close {
        fill: $brand-primary;
      }
    }
    &:active {
      #{$this}__close {
        fill: #ae5435;
      }
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    fill: $brand-secondary;
  }

  &__content {
    padding: 24px;
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__table {
    display: flex;
    height: 100%;
    border-top: 1px solid $grey-20;
  }

  table {
    background-color: $white;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    z-index: 1;
  }

  tbody {
    position: relative;
    z-index: 10;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: $white;

    &::-webkit-scrollbar {
      width: 0;
      z-index: 10;
    }
  }

  th,
  td {
    
    @include fontSize(12, 16);
    font-weight: 400;
    color: $brand-secondary;
    padding: 8px 8px 7px;
    text-align: center;
    border-bottom: 1px solid $grey-20;
  }

  td {
    width: 100%;
  }

  th {
    padding: 16px 8px;
    background-color: $grey-10;
    font-weight: 500;
  }

  &__bottom {
    padding: 12px 24px 40px;
    display: flex;
  }

  &__text {
    @include fontSize(13, 20);
    font-weight: 400;
    color: $brand-secondary;

    &.grey {
      color: $grey-50;
      padding-top: 12px;
      padding-bottom: 16px;
    }
  }
}
