.radio {
  display: block;
  position: relative;
  // padding-left: 32px;
  width: 20px;
  height: 20px;
  align-items: center;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  
  
  

  &__text {
    display: flex;
    align-items: center;
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    height: 20px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $grey-10;
    border: 1px solid $grey-20;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &::after {
      top: 3.5px;
      left: 3.5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $grey-10;
      transition: background-color 0.3s ease;
    }
  }
}

.radio:hover input ~ .radio__checkmark {  
  // background-color: $color-accent-light-blue;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .radio__checkmark {
  background-color: $grey-10;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: '';
  position: absolute;
  // display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radio__checkmark:after {
  background-color: $brand-primary !important;
}

input:disabled + .radio__checkmark {
  // filter: grayscale(1);
  opacity: 0.2;
}
