.breadcrumbs {
  $this: &;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $s) {
    padding: 16px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    flex-shrink: 0;
    @media (max-width: $s) {
      display: none;

      &:nth-last-child(2) {
        display: flex;
        align-items: center;
        padding: 4px 0;
      }
    }
  }

  &__link {
    @include fontSize(14, 16);
    font-weight: 400;
    color: $brand-secondary;
    margin-right: 4px;

    @media (max-width: $s) {
      @include fontSize(13, 16);      
    }

    &.dash {
      @media (max-width: $s) {
        display: none;
      }
    }

    &.unactive {
      color: $grey-50;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    fill: $brand-secondary;
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__subtext {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__text {
    color: $grey-50;
    @include fontSize(14, 16);
    font-weight: 400;
    

    @media (max-width: $s) {
      @include fontSize(13, 16);
      &:nth-child(1) {
        display: none;
      }
    }
  }
}
