.color-radios {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  &__item {
    width: 40px;
    height: 40px;
    border: 1px solid $grey-20;
    border-radius: 50%;
    position: relative;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    transition: border 0.3s ease;
    border: 1px solid $white;
    border-radius: 50%;
    

    &:checked {
      
      border: 1px solid $brand-primary;
    }
  }

  &__color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
  }

  &__texture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
  }
}