.footer-order {
  $this: &;
  background-color: $white;
  margin-top: 128px;
  box-shadow: inset 0px 1px 0px #ECE8E5;

  @media (max-width: $s) {
    margin-top: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    
  }
  

  &__text {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    &.padding {
      padding-top: 8px;
    }

    &.grey {
      color: $grey-50;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  &__small-text {
    color: $grey-50;
    @include fontSize(12, 16);
    font-weight: 400;

    &.link {
      color: $brand-primary;
    }
  }

  

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
    

    @media (max-width: $xs) {
      flex-direction: column;
      justify-content: center; 
      gap: 24px;    
      padding: 24px 0; 
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &.alt {
      @media (max-width: $s) {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
      }
      @media (max-width: $xs) {
        align-items: center;
      }
    }

    @media (max-width: $xs) {
      // align-items: flex-start;
        flex-direction: column;
        gap: 12px;
    }

    
  }

  &__separator {
    width: 1px;
    height: 16px;
    margin: 0 8px;
    background-color: $grey-30;

    &.alt {
      @media (max-width: $s) {
        display: none;
      }
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__two-letters {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      & > svg {
        fill: $brand-primary;
      }
      #{$this}__text {
        color: $brand-primary;
      }
    }
    & > svg {
      width: 32px;
      height: 32px;
      fill: $brand-secondary;
    }
  }

  &__links-mobile {
    padding-top: 32px;
    display: none;
    width: 100%;
    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
    }
  }

  &__accordion-list {
    display: flex;
    flex-direction: column;
  }

  &__subitem {
    color: $brand-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    padding: 14px 16px;
    box-shadow: inset 0px 1px 0px $grey-20;
  }
}
