<template lang="pug">
.footer-order
  .footer-order__container.container    
    .footer-order__info
      .footer-order__row.alt
        .footer-order__text © 2018–2022. Интернет-магазин одежды «Наше»
        .footer-order__row
          .footer-order__separator.alt
          nuxt-link.footer-order__text.grey(to='/') Пользовательское соглашение
          .footer-order__separator
          nuxt-link.footer-order__text.grey(to='/') Политика конфиденциальности      
</template>



<style src='./footer-order.scss' lang="scss">
</style>